parameters:
    level: 8

    paths:
        - src

    ignoreErrors:
        -
            message: '#^Method AlphaSnow\\Flysystem\\AliyunOss\\AliyunOssAdapter\:\:getTemporaryUrl\(\) has parameter \$options with no value type specified in iterable type array\.$#'
            path: src/AliyunOssAdapter.php
        -
            message: '#^Method AlphaSnow\\Flysystem\\AliyunOss\\AliyunOssAdapter\:\:configToOptions\(\) return type has no value type specified in iterable type array\.$#'
            path: src/AliyunOssAdapter.php
